<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>CRUD Student</title>
</head>
<body>
<button onclick="location.href='./ReadStudent'">View Student Records</button>
<button onclick="location.href='./InsertStudent.html'">Insert a Student</button>
<button onclick="location.href='./UpdateStudent.html'">Update a Student</button>
<button onclick="location.href='./FindDept.html'">Find Dept of a Student</button>
<button onclick="location.href='./DeleteStudent.html'">Delete a Student</button>
</body>
</html>